.status-publish {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.12);
	margin-bottom: 30px;
}

.post-title {
	padding-left: 40px !important;
}

.post-meta {
	margin-left: 0 !important;
	padding-left: 40px !important;
}

.post-desc {
	p {
		margin: 0 !important;
		padding: 0 20px;
	}
}

.post-content {
	a {
		margin-left: 40px;
		margin-top: 30px;
		bottom: -7px;
	}
}
