.anps_guten_cta_block_wrapper {
	background-color: #252525;
	padding: 20px;
	display: grid;
}

.anps_cta_colorpicker_editor {
	width: 300px;

}

.anps_cta_editor_title {
	color: $white;
	padding-top: 10px;
}
