h2.divider-modern:not(.heading-content) span::after {
	background: black;
}
h1.divider-modern:not(.heading-content) span::after {
	background: black;
}
h3.divider-modern:not(.heading-content) span::after {
	background: black;
}
h4.divider-modern:not(.heading-content) span::after {
	background: black;
}
h5.divider-modern:not(.heading-content) span::after {
	background: black;
}
h6.divider-modern:not(.heading-content) span::after {
	background: black;
}
